<nz-descriptions nzTitle="Passport info">
  {{passportData.format}}
  <ng-container *ngFor="let detail of passportData.details">
    <nz-descriptions-item [nzTitle]="detail.label">
      <nz-tag nzColor="success" *ngIf="detail.valid">{{detail.value}}</nz-tag>
      <nz-tag nzColor="warning" *ngIf="!detail.valid">{{detail.value}}</nz-tag>
    </nz-descriptions-item>
  </ng-container>
</nz-descriptions>


<br><br>

<nz-descriptions nzTitle="Face Detection">
  <ng-container *ngFor="let landmark of passportData.faces[0].landmarks">
    <nz-descriptions-item [nzTitle]="landmark.type">
      <nz-tag nzColor="success">{{landmark.position.x}}</nz-tag>
      <nz-tag nzColor="success">{{landmark.position.y}}</nz-tag>
      <nz-tag nzColor="success">{{landmark.position.z}}</nz-tag>
    </nz-descriptions-item>
  </ng-container>
</nz-descriptions>
