

<nz-spin [nzSpinning]="uploading">
  <div class="image-upload">
    <img [src]="imageSrc" style="max-width:300px;max-height:300px"/>
      <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" #uploader style="display: none;"/>

      <button nz-button (click)="uploader.click()">
        Upload Document
      </button>

  </div>
</nz-spin>


<div *ngIf="signature">
  <nz-divider nzText="Signature"></nz-divider>
  <img nz-image width="200px" height="200px" [src]="signature" alt=""/>
</div>

<div *ngIf="profileImage">
  <nz-divider nzText="Image"></nz-divider>
  <img nz-image width="200px" height="200px" [src]="profileImage" alt=""/>
</div>


<div>
  <nz-descriptions nzTitle="Passport information" nzBordered *ngIf="mrzDetails?.pFieldMaps">
    <ng-container *ngFor="let element of mrzDetails?.pFieldMaps">
      <nz-descriptions-item [nzTitle]="element.FieldType">
        <!-- here there is one that comes from visual part of the passport Field_Visual and another one from MRZ  Field_MRZ-->
        {{element.Field_MRZ || element.Field_Visual}}
      </nz-descriptions-item>
    </ng-container>
  </nz-descriptions>
</div>
